name: Laravel CI

on:
  push:
    branches: [ "main", "development" ]
  pull_request:
    branches: [ "main", "development" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Install dependencies
        run: composer install --no-progress --prefer-dist

      # this one is copying the .env file in the test unit
      - name: Copy .env
        run: cp .env.example .env

      - name: Generate app key
      # it is generating the app key.
        run: php artisan key:generate

      - name: Create database
      # creating the sqlite database
        run: |
          mkdir -p database
          touch database/testing.sqlite

      # running the migrations
      - name: Run migrations
        run: php artisan migrate --database=sqlite

      - name: Run tests
        run: php artisan test
